body {
    margin: 40px;
    font-family: "Raleway", sans-serif;
    background-color: #ecdbc9;
}
table.moment {
    margin-left: auto;
    width: 30%;
    text-align: left;
}
p {
    text-align: left;
    margin: 45px;
    line-height: 140%;
}
