body {
    font-family: "Raleway", sans-serif;
    background-color: #ecdbc9;
}
table.moment {
    margin-left: auto;
    width: 30%;
    text-align:left;
}
p {
    margin: 10px;
    line-height: 140%;
}
